/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v28-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v28-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/open-sans-v28-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v28-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v28-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v28-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
